#loadingDiv {
  height:200px;
  width:200px;
  margin: auto;
  font-weight: bold;
  clear:both;
}

#progressBar {
  margin-top:15px;
  overflow:hidden;
  color:black;
  background: white;
  border: 2px solid black;
}